VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,7,0,80
PRODUCTVERSION 1,7,0,80 
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041904E3"
    BEGIN
      VALUE "CompanyName", "ШТРИХ-М, 2021"
      VALUE "FileDescription", "Драйвер считывателей Mifare"
      VALUE "FileVersion", "1.7.0.80"
      VALUE "InternalName", "Драйвер считывателей Mifare\0"
      VALUE "LegalCopyright", "Copyright \251 2010 \0"
      VALUE "OriginalFilename", "MifareDrv.dll\0"
      VALUE "ProductName", "Драйвер считывателей Mifare\0"
      VALUE "ProductVersion","1.7\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 1049,1251
  END
END

MAINICON  ICON  DISCARDABLE  "icon.ico"
